<!DOCTYPE html>
<html>
    <head>
        <title>Lab 5</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Congrats</h1>
        <h2>You have made it to the special page</h2>
        <img src="/static/Star.jpg" alt="star" id="jumpgif">
        <p>
            I'd say you should be proud of yourself,
            but you probably took a lot of time
            to get here.
        </p>
        <a href="http://127.0.0.1:5000/">
            <button>Click Here to return to the home page</button>
        </a>
    </body>
</html>